<div>
    <div class="col-md-4 col-md-offset-4">
        <h1>EDIT TASK</h1>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">TITLE</span>
            <input type="text" class="form-control"  ng-model="task.title">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">DESCRIPTION</span>
            <input type="text" class="form-control"  ng-model="task.description">
        </div>
        TASK DEADLINE: {{task.deadline}}
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">DEADLINE</span>
            <input type="date" class="form-control" ng-model="task.deadline">
        </div>

        TASK PRIORITY: {{task.priority}}
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="changePriority('BLOCKER')">BLOCKER</button>
            <button type="button" class="btn btn-default" ng-click="changePriority('CRITICAL')">CRITICAL</button>
            <button type="button" class="btn btn-default" ng-click="changePriority('MAJOR')">MAJOR</button>
            <button type="button" class="btn btn-default" ng-click="changePriority('MINOR')">MINOR</button>
            <button type="button" class="btn btn-default" ng-click="changePriority('TRIVIAL')">TRIVIAL</button>
        </div>



        TASK STATUS: {{task.status}}
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="changeStatus('TO DO')">TO DO</button>
            <button type="button" class="btn btn-default" ng-click="changeStatus('IN PROGRESS')">IN PROGRESS</button>
            <button type="button" class="btn btn-default" ng-click="changeStatus('VERIFY')">VERIFY</button>
            <button type="button" class="btn btn-default" ng-click="changeStatus('DONE')">DONE</button>
        </div>



        <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-primary" type="button" ng-click="create()">
                SAVE
            </button>
        </div>


    </div>
</div>
