<div >

    <div class="alert alert-success" role="alert">
        <b>TASK INFO:</b> <br>
        TITLE: <h4>{{task.title}}</h4>

        CREATED: <h4>{{task.createdAt}}</h4>

        DEADLINE: <h4>{{task.status}}</h4>

        LAST UPDATE: <h4>{{task.updatedAt}}</h4>

        <button class="btn btn-warning" type="button" ui-sref="edittask({id:task._id})">
            <span class="glyphicon glyphicon-pencil"></span>
            EDIT TASK
        </button>
        <button class="btn btn-danger" type="button" ui-sref="taskdetail({id:task._id})">
            <span class="glyphicon glyphicon-trash"></span>
            DELETE TASK
        </button>

    </div>

    <!--COMMENTS-->

    <div class="alert alert-success" role="alert">
        COMMENTS ON TASK:
            <span class="badge">
                {{task.comments.length}}
            </span>
        COMMENTS
        <br>
    </div>


    <!--COMMENTS LIST-->

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>COMMENT TEXT</th>
                <th>CREATOR</th>
                <th>DATE&TIME</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="model in task.comments">
                <td>{{model.text}}</td>
                <td>{{model.creator.username}}</td>
                <td>{{model.updatedAt}}</td>
                <td>
                    <button type="submit"
                            ui-sref="home"
                            class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>EDIT</span>
                    </button>
                    <button type="submit"
                            ui-sref="home"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>DELETE</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!--ADD COMMENT FIELD-->
    <div class="col-md-4 col-md-offset-4">
        <div class="input-group">
            <input type="text" ng-model="comment.text" class="form-control" placeholder="Type comment...">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" ng-click="addComment()">ADD COMMENT</button>
      </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->


<br><br><br>



</div>
