<div >

    <div class="alert alert-success" role="alert">
        TASK TITLE: <h4>{{task.title}}</h4>
        CREATED: <h4>{{task.createdAt}}</h4>
        LAST UPDATE: <h4>{{task.updatedAt}}</h4>
        STATUS: <h4>{{task.status}}</h4>
        PRIORITY: <h4>{{task.priority}}</h4>

        <button class="btn btn-success btn-sm" type="button" ui-sref="taskhistory({id:task._id})">
            <span class="glyphicon glyphicon-time"></span>
            TASK HISTORY
        </button>

        <button class="btn btn-warning btn-sm" type="button" ui-sref="edittask({id:task._id})">
            <span class="glyphicon glyphicon-pencil"></span>
            EDIT TASK
        </button>
        <button class="btn btn-danger btn-sm" type="button" ng-click="deleteTaskFromProject(task)">
            <span class="glyphicon glyphicon-trash"></span>
            DELETE TASK
        </button>
       <button class="btn btn-primary btn-sm" type="button" ui-sref="userontask({id:task._id})" >
            <span class="glyphicon glyphicon-trash"></span>
            PEOPLE ON TASK
        </button>

    </div>

    <!--COMMENTS-->

    <div class="alert alert-success" role="alert">
        COMMENTS ON TASK:
            <span class="badge">
                {{task.comments.length}}
            </span>
        COMMENTS
        <br>
    </div>


    <!--COMMENTS LIST-->

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>COMMENT TEXT</th>
                <th>CREATOR</th>
                <th>DATE&TIME</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="model in task.comments">
                <td>{{model.text}}</td>
                <td>{{model.creator.username}}</td>
                <td>{{model.updatedAt}}</td>
                <td>
                    <button
                            ng-click="editComment(task._id,model)"
                            class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>EDIT</span>
                    </button>
                    <button
                            ng-click="deleteComment(task._id,model)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>DELETE</span>
                    </button>
                    
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!--ADD COMMENT FIELD-->
    <div class="col-md-4 col-md-offset-4">
        <div class="input-group">
            <input type="text" ng-model="comment.text" class="form-control" placeholder="Type comment...">
            <span class="input-group-btn">
            <button class="btn btn-success" type="button" ng-click="addComment()">ADD COMMENT</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <!--Place for changing comment-->
    <div ng-show = "IsVisible">
        <div class="input-group">
            <input type="text" ng-model="changedComment.text" class="form-control" placeholder="Type comment...">
            <span class="input-group-btn">
            <button class="btn btn-success" type="button" ng-click="changeComment(changedComment)">CHANGE COMMENT</button>
            </span>
        </div>
    </div>
    


<br><br><br>



</div>
