<div>

        <h3>
            USERS ON THIS PROJECT
            <span class="badge">
                {{collectionUsersOnProject.length}}
            </span>
        </h3>

        
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>USERNAME</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="model in collectionUsersOnProject">
                    <td>{{model.username}}</td>
                    
                    <td>
                        <button ng-click="removeUserFromProjectController(model)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-minus"></span>&nbsp;<span>REMOVE</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>



    <h3>
        USER LIST
        <span class="badge">
                {{collection.length}}
        </span>
    </h3>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>USERNAME</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="model in collection">
                <td>{{model.username}}</td>
                <td>
                    <button 
                            class="btn btn-primary btn-sm"
                            ng-click="addUserToProjectController(model)">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;<span>ADD</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>





</div>
